<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour of Heroes</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header>
    <div class="header-container">
      <h1>Tour of Heroes</h1>
      <button class="btn btn-primary" (click)="onClick()">Agregar Héroe</button>
      <button class="btn btn-secondary" 
              (mousedown)="onMouseDown()" 
              (mousemove)="onMouseMove()" 
              (mouseout)="onMouseOut()" 
              (mouseover)="onMouseOver()" 
              (mouseup)="onMouseUp()">Buscar Héroe</button>
      
    </div> 
  </header>
  
  <section class="dashboard">
    <h2>Dashboard</h2>
    <!-- ... Resto de tu código ... -->
  </section>
  
  <section class="hero-details">
    <!-- ... Resto de tu código ... -->
  </section>
  
  <section class="hero-list">
    <h2>Listado de Héroes</h2>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let heroe of heroes">
        <div class="card">
          <img [src]="heroe.imagenUrl" class="card-img-top" alt="Heroe Imagen">
          <div class="card-body">
            <h5 class="card-title">{{ heroe.nombre }}</h5>
            <p class="card-text">{{ heroe.descripcion }}</p>
            <a href="#" class="btn btn-primary" (click)="agregarHeroe()">Subir</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <!-- Agrega el enlace al archivo de JavaScript de Bootstrap si es necesario -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
